@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');

:root {
  --primary: #bc4123;
  --secondary: #DDD;
}
body {
  margin: 0;
  font-family: "Poppins";
  background: var(--secondary);
}

p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}


/* navbar */
.navbar-nav a {
  margin: 0 10px;
  text-decoration: none;
}

/* page content */


/* help layout */


/* faq */


/* careers list */


/* careers details */


/* breadcrumbs */
